<!-- Config file for the engine -->

<config>
  <engine>
    <title>My platformer game</title>
    <maxFrameDuration value="16"/>
  </engine>

  <render>
    <vsync value="false"/>
  </render>

  <window>
    
    <resolution width="1280" height="720" scale="3"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>


  <scene>
    <map path="Assets/Maps/" name="Map_Level1.tmx"/>
    <entities>
      <player x="96" y="96" w="16" h ="16" texture="Assets/Maps/1-bitPack/Tilemap/monochrome_tilemap_transparent_torch_modified.png">
        <animations>
          <idle loop="true" speed ="0.5">
            <frame x="0" y="16" w="16" h="16"/>
            <frame x="0" y="0" w="16" h="16"/>
          </idle>
        </animations>
      </player>
    </entities>
  </scene>


</config>